 <div class="container my-3"> 
<div class="jumbotron">
    <h1 class="display-4"><b>About these Angular App!</b></h1>
    <p class="lead">Angular is an Open-Source Application Development Framework</p>
<hr calss ="my-4">
<p>Angular is a modern Frontend javascript framework Developed by Google</p>
<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> 
<div>
    <img src="../assets/img/note.jpg" class="img-fluid" alt="..."  padding:200px>
    <!-- <img src="../assets/img/note.jpg" class="rounded float-start" alt="img1"> -->
    <!-- <img src="../assets/img/note.jpg" class="rounded float-end" alt="img2"> -->
    </div>
</div>

